@import "installation-mixin.scss";
.background-wrapper-CCTVinShop {
    @include background-wrapper-banner-head;
    background-image: url("../CCTVinShop/img/CCTVinShop-banner-back.jpg");
}

.title-text-banner-CCTVinShop {
    @include text-banner-head;
}

.line-separator {
    @include line-separator;
    margin-bottom: 46px;
}

.wrapper-blok-icon-gray {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.blok-icon-gray-text {
    max-width: 721px;
    margin-left: auto;
    margin-right: auto;
}

.blok-icon-gray-text>p {
    @include text-main;
    margin: 0 0 36px 0;
}

.blok-icon-gray-text-main {
    @include text-uppercase-bolt;
}