@import "installation-mixin.scss";
.background-wrapper-CCTVinShop {
    @include background-wrapper-banner-head;
    background-image: url("../CCTVinShop/img/CCTVinShop-banner-back.jpg");
}

.title-text-banner-CCTVinShop {
    @include text-banner-head;
}

.line-separator {
    @include line-separator;
    margin-bottom: 46px;
}

.wrapper-blok-icon-gray {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.blok-gray-text {
    max-width: 721px;
    margin-left: auto;
    margin-right: auto;
}

.blok-gray-text>p {
    @include text-main;
    margin: 0 0 36px 0;
}

.blok-icon-gray-text-main {
    @include text-uppercase-bolt;
    margin-bottom: 201px;
    margin-top: 0;
}

.blok-icon-gray-text {
    @include box-img-grey;
    @include text-main;
}

.blok-icon-gray-text>p {
    margin: 0;
}

.blok-icon-gray-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blok-icon-gray {
    position: absolute;
    top: -153px;
}

.blok-icon-gray-posicion {
    display: flex;
}